input[type="button"] {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px; 
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    height: 60px;
    width: 150px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
input[type="button"]:hover {
    opacity: 0.6;
}
.box {
    width: 300px;
    height: 200px;
    border: 2px solid black;    
    margin-top: 50px;
    margin-left: 100px;
}
.box h1 {
    color: #7d2929;
    position: absolute;
    top: 70px;
    left: 130px;
    margin: 10px;
}
.box h2 {
    color: #7d2929;
    position: relative;
    top: 50px;
    left: 0%;
}
.sticky {
    position: sticky;
    top: 0;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border: #b41313 2px solid;
    background-color: rgb(236, 192, 138);
}
.sticky h1 {
    color: #7d2929;
    font-size: 30px;
    position: fixed;
}